@charset "utf-8";

*{
	margin:0;
	padding:0;
	font-family: "Microsoft YaHei";
}
a{
	text-decoration: none;
}
img{
	border:none;
}
ul,li,dl,dd,dt{
	list-style: none;
}
body{
	background: #fff;
	min-width: 1200px;
}
#logo-nav{
	width:1200px;
	height: 70px;
	margin:0 auto;
}
#logo-nav a{
	display: inline-block;
	height: 100%;
}
#logo-nav a img{
	height: 100%;
}
#logo-conter{
	width: 100%;
	height: 706px;
	border-top:2px solid #63ad02;
	background: url(../images/bg.jpg) center center no-repeat;
	background-color: #fbfbfb;
	overflow: hidden;
}
.login-wrap{
	margin: 0 auto;
    padding-top: 70px;
    width: 1000px;
}
.login-page{
	width: 600px;
	height: 470px;
	padding:0 20px 0px 20px;
	background: #fff;
	box-shadow: 0 0 8px #888;
	-moz-box-shadow:0 0 8px #888;
	-webkit-box-shadow:0 0 8px #888;
	margin: 0 auto;
	border-radius: 5px;
}
.login-text h1{
	padding: 10px 2px 0 7px;
    font-size: 22px;
    line-height: 48px;
    color: #62ab00;
    border-bottom: 2px solid #62ab00;
    font-weight: normal;
}
.login-form{
	padding:30px 0;
	overflow: hidden;
}
.form-top{
	overflow: hidden;
}
.form-top a{
	display: inline-block;
	padding:0 50px;
	border-left:1px solid #ccc;
	float: left;
	color:#666;
	font-size: 16px;
}
.form-top a:hover{
	color:#62ab00;
}
.form-top a:first-child{
	border-left:none;
}
.form-top a.active{
	color:#62ab00;
}
.form-center{
	margin-top: 20px;
	padding-left:15px;
	overflow: hidden;
}
.lphone{
	display: inline-block;
    width: 400px;
    overflow: hidden;
    font-size: 0;
    vertical-align: top;
}
.form-center .phone{
	display: inline-block;
    padding-left: 16px;
    width: 382px;
    height: 48px;
    font-size: 0;
    color: #666;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.form-center .phone i.iconfont{
	font-size: 22px;
	margin-top: 12px;
    color: #ccc;
    vertical-align: top;
    width: 24px;
    height: 28px;
    float: left;
}
.split {
    margin: 10px 0 0 12px;
    font-size: 0;
    display: inline-block;
    width: 1px;
    height: 30px;
    background: #ccc;
    vertical-align: top;
}
.form-center .phone input{
	padding: 15px 0 15px 15px;
    width: 327px;
    font-size: 14px;
    height: 18px;
    *height:16px;
    line-height: 18px;
    color: #666;
    border: 0;
    vertical-align: top;
}
.form-center .number{
	width: 232px;
	float: left;
}
.form-center .number input{
	width: 177px;
}
.lphone .btn{
	cursor:pointer;
    background: #f5f5f5;
    border:1px solid  #ccc;
    margin-left: 10px;
    display: inline-block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}
.send_code{
	cursor:pointer;
    background: #f5f5f5;
    border:1px solid  #ccc;
    margin-left: 10px;
    display: inline-block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}
.send_code .repeat span{
	color:#ccc;
	display: block;
	cursor: pointer;
	font-size: 14px;
}
.send_code .obtain{
	color:#ccc;
	display: block;
	font-size: 14px;
	cursor: pointer;
}
.lphone .btn span{
	color: #ccc;
	display: block;
	font-size: 14px;
}
.reder{
	/*position: relative;*/
	cursor: pointer;
}
.reder span{
	display: inline-block;
    margin-right: 6px;
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    margin-top:2px;
    position: relative;
}
.reder span.active{
	background: #579aec;
    border-color: #579aec;
}
.reder p{
	color:#666;
	font-size: 14px;
	float: left;
}
.reder i{
	position: absolute;
	top:2px;
	left:0;
	color:#fff;
	display: none;
}
.reder a.forget{
	color:#136ccd;
	float: right;
	font-size: 14px;
}
.reder p a{
	font-size: 14px;
    color: #136ccd;
    vertical-align: top;
}
.form-center form{
	display: inline-block;
	width: 400px;
}
.form-center button{
	margin-top: 10px;
    padding: 0;
    display: block;
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 400px;
    height: 50px;
    line-height: 50px;
    background: #ddd;
    border: 0;
    outline: 0;
}
.form-center button.active{
	background: #62ab00;
}
.use{
	margin: 28px 0 0 0;
    width: 400px;
    display: inline-block;
}
.use .line{
	width: 400px;
    height: 1px;
    border-bottom: 1px solid #ededed;
}
.use p{
	margin-top: -10px;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
    text-align: center;
}
.use p span{
	background: #fff;
    padding: 0 16px;
}
.use-login{
	width: 420px;
	padding: 15px 0 0;
    text-align: center;
}
.use-login a.iconfont{
	margin: 0 8px;
    display: inline-block;
    width: 44px;
    height: 44px;
    font-size: 42px;
    float: left;
}
.use-login a.iconfont.qq{
    color:#5197ed;
    margin-top: -8px;
    margin-left:115px;
}
.use-login a.iconfont.weibo{
    font-size: 36px;
    color:#eb7913;
}
.use-login a.iconfont.weixin{
    font-size: 36px;
    color:#54a828;
}
.inter{
	float: left;
	display: inline-block;
	width: 400px;
}
.couser-login{
	float:right;
	width: 136px;
}
.couser-login strong{
	margin: 0 0 15px 0;
    display: block;
    text-align: left;
    color:#666;
    font-size: 14px;
    font-weight: normal;
}
.couser-login a{
	display:block;
	margin: 0 0 15px 0;
}
.couser-login a i{
	position: relative;
    top: 2px;
    margin-right:5px;
    color:#62ab00;
}
.couser-login a span{
	color:#666;
	font-size: 14px;
}
.couser-login a:hover span{
	color:#FF4343;
}